# Python files
**/__pycache__

# Configs 
pipeline/configs/
!pipeline/configs/config_template_cnmf.json
!pipeline/configs/config_template_suite2p.json

# Scripts
scripts/
!scripts/batch_2P_pipeline_template.sh
!scripts/cluster_processing_template.sh

# Build files
dist/
*.egg-info


