# Python files
**/__pycache__

# Configs 
pipeline/configs/*
!pipeline/configs/config_template_cnmf.json
!pipeline/configs/config_template_suite2p.json

# Environment files
**/.env

# Scripts
scripts/*
!scripts/2P_proc_template.sh
!scripts/cluster_processing_template.sh
!scripts/template.env

# Build files
dist/
build/
*.egg-info

# Container artifacts
*.sif
*.sif.hash

# Environments
environments/.a2P/
environments/*/

# Large binary files
*.mmap
*.hdf5
*.h5

